body{
    background-color: black;
}

.mainheading{
    text-align: center;
    margin-top: 180px;
    justify-content: center;
    color: white;
}

.clock{
    font-size: 45px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;   
    color: black;
    border: 4px solid white;
    padding: 1%;
    border-radius: 20px;
    background-color: orange;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
